h2 {
    color: green;
}
header {
    text-align: center;
}
body {
    background-color: rgba(7, 45, 121, 0.938);
    color: white;
}

body {
    background-color: rgba(7, 45, 121, 0.938);
    color: white;
}
a {
    color: rgb(230, 22, 22);
}
footer {
    text-align: center;
}
    